.link {
  text-decoration: underline;
  color: #007fff;
  cursor: pointer;
  @include transition();
  &:visited {
    color: lighten(#4e7cfa, 10%) !important;
  }

  &:hover {
    color: #f69522 !important;
  }

  &:active {
    color: rgb(0, 182, 15) !important;
  }

  &:focus {
    color: rgb(0, 182, 15) !important;
  }
}
