.link {
  text-decoration: underline;
  color:  #01A562;
  cursor: pointer;
  @include transition();
  &:visited {
    color:  #01A562;
  }

  &:hover {
    color:  #01A562;
  }

  &:active {
    color:  #01A562;
  }

  &:focus {
    color:  #01A562;
  }
}
