.section-card {
  @include flexbox();
  @include justify-content(center);
  margin: {
    top: 10px;
    left: 20px;
    right: 20px;
    bottom: 50px;
  }
  &__form {
    @include flexbox();
    @include flex-direction(column);
    @include border-radius(8);
    @include padding(40, 60);
    box-shadow: 0px 0px 9px #cccccc;
    background-color: $white;
    position: relative;

    &__title {
      text-align: center;
      color: $secondary;
    }
  }
}
input.ng-invalid.ng-touched {
  border: 1px solid $error;
}
