.input-container {
  color: #757575;
  margin-top: 15px;

  &--password {
    position: relative;

    .icon-eye {
      position: absolute;
      color: #757575;
      right: 5px;
      bottom: 7px;
      cursor: pointer;

      &:hover {
        color: darken($color: #757575, $amount: 15);
      }
    }
  }

  &__label {
    font-size: 1.3em;
    display: inline-block;
  }

  &__input {
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    display: block;
    transition: all ease-out 0.5s;
    font-size: 1em;
    height: 30px;
    padding: 1px 5px;
    // min-width: 300px;
    &:hover {
      border-color: #757575;
    }

    &:focus {
      background-color: #f2f2f2;
    }
  }
}
