<section class="section-card">
  <form class="section-card__form" [formGroup]="signupForm" (ngSubmit)="submitForm()">
    <h1 class="section-card__form__title">Cadastro de usuário</h1>

    <div class="input-container">
      <label class="input-container__label" for="nome">Nome completo</label><br>
      <input id="nome" type="text" size="30" pInputText formControlName="nome">
    </div>

    <div class="input-container">
      <label class="input-container__label" for="cpf">CPF</label><br>
      <p-inputMask mask="999.999.999-99" size="30"></p-inputMask>
    </div>

    <div class="input-container">
      <label class="input-container__label" for="email">E-mail</label><br />
      <input id="nome" type="text" size="30" id="email" pInputText formControlName="email">
    </div>

    <div class="input-container">
      <label class="input-container__label" for="usuario">Usuário</label><br>
      <input id="nome" type="text" size="30" id="usuario" pInputText formControlName="usuario">
    </div>

    <div class="input-container">
      <label class="input-container__label" for="senha">Senha</label><br>
      <input type="password" id="senha" pPassword formControlName="senha" size="30" [feedback]="false" />
    </div>

    <div class="input-container">
      <label class="input-container__label" for="confirmasenha">Confirme a senha</label><br>
      <input type="password" id="confirmasenha" pPassword formControlName="confirmasenha" size="30"
        [feedback]="false" />
    </div>

    <p-message *ngIf="signupForm.hasError('senhaDiferente')" severity="error" text="As senhas não conferem"></p-message>

    <div style="margin-top: 20px;">
      <p-button label="Cadastrar" type="submit" styleClass="ui-button-success" [disabled]="signupForm.invalid">
      </p-button>
    </div>

    <div style="position:fixed; top:20px; right: 30px;">
      <p-button label="Fazer Login" type="submit" styleClass="ui-button-secondary" [routerLink]="['/login']"></p-button>
    </div>
  </form>
</section>
