<section class="section-card" [@inOut]="'in'">
  <form class="section-card__form" [formGroup]="signupForm" (ngSubmit)="submitForm()">
    <h1 class="section-card__form__title">Cadastro de usuário</h1>
    <div class="input-container">
      <label class="input-container__label" for="nome">Nome completo</label>
      <input class="input-container__input" id="nome" type="text" autofocus autocomplete="name" formControlName="nome">
    </div>

    <div class="input-container">
      <label class="input-container__label" for="cpf">CPF</label>
      <input class="input-container__input" id="cpf" type="text" formControlName="cpf" mask="000.000.000-00"
        placeholder="___.___.___-__">
    </div>

    <div class="input-container">
      <label class="input-container__label" for="email">E-mail</label>
      <input class="input-container__input" id="email" type="text" autocomplete="email" formControlName="email">
    </div>

    <div class="input-container">
      <label class="input-container__label" for="usuario">Usuário</label>
      <input class="input-container__input" id="usuario" type="text" autocomplete="nickname" formControlName="usuario">
    </div>

    <div class="section-card__form__password"
      [ngClass]="{'section-card__form__password--error':signupForm.hasError('senhaDiferente')}">
      <div class="input-container">
        <label class="input-container__label" for="senha">Senha</label>
        <input class="input-container__input" id="senha" type="password" formControlName="senha" autocomplete="none">
      </div>

      <div class="input-container">
        <label class="input-container__label" for="confirmasenha">Confirme a senha</label>
        <input class="input-container__input" id="confirmasenha" type="password" formControlName="confirmasenha"
          autocomplete="none">
      </div>
      <p *ngIf="signupForm.hasError('senhaDiferente')" class="section-card__form__password__message" [@inOut]="'in'"><i
          class="fas fa-times-circle"></i> As senhas não conferem</p>
    </div>


    <div class="section-card__form__button">
      <button class="section-card__form__button__submit" type="submit"
        [disabled]="signupForm.invalid">Cadastrar</button>
    </div>

    <nav>
      <p class="section-card__form__signin">Voltar para <a class="link" [routerLink]="['/login']">Login</a></p>
    </nav>
  </form>
</section>
