@import "~@fortawesome/fontawesome-free/css/all.min.css", "assets/scss/reset", "assets/scss/mixins/flexbox",
  "assets/scss/mixins/utilities", "assets/scss/colors", "assets/scss/links", "assets/scss/components/input-container";
body,
html {
}

body {
  font: 100%/1.4 "Calibri";
  background-color: $content-background;
}

h1,
h2,
h3,
strong {
  font-weight: bold;
}

h1 {
  font-size: 180%;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 120%;
}

small {
  font-size: smaller;
}

p {
  margin: 0.6em 0;
}

// * { background-color: rgba(255,0,0,.2); }
// * * { background-color: rgba(0,255,0,.2); }
// * * * { background-color: rgba(0,0,255,.2); }
// * * * * { background-color: rgba(255,0,255,.2); }
// * * * * * { background-color: rgba(0,255,255,.2); }
// * * * * * * { background-color: rgba(255,255,0,.2); }
// * * * * * * * { background-color: rgba(255,0,0,.2); }
// * * * * * * * * { background-color: rgba(0,255,0,.2); }
// * * * * * * * * * { background-color: rgba(0,0,255,.2); }
