<section class="section-login">
  <form class="section-login__form" [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <div class="input-container">
      <label class="input-container__label" for="username">Usuário</label><br>
      <input id="username" type="text" size="30" pInputText formControlName="username">
    </div>

    <div class="input-container">
      <label class="input-container__label" for="password">Senha</label><br>
      <input type="password" id="password" pPassword formControlName="password" size="30" [feedback]="false" />
    </div>

    <span class="section-login__form__link">
      <a class="link" href="">Redefinir senha</a><br>
      <a class="link" [routerLink]="['/login', 'novo-usuario']">Cadastre-se</a>
    </span>

    <div style="margin-top: 20px;">
      <p-button label="Entrar" type="submit" styleClass="ui-button-success" [disabled]="loginForm.invalid"></p-button>
    </div>
  </form>
</section>
