@import "../../../assets/scss/colors";

.header-login {
  margin-top: 10px;
  display: flex;
  justify-content: center;

  &__logo {
    width: 170px;
    height: 170px;
  }
}

.section-login {
  margin-top: 10px;
  display: flex;
  justify-content: center;

  &__form {
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0px 0px 9px #cccccc;
    max-width: 400px;
    background-color: $white;
    display: flex;
    flex-direction: column;
position: relative;
    &__link {
      text-align: right;
      font-size: 0.9em;
      display: inline-block;

      &--new {
        text-align: left;
        position: absolute;
        bottom: -25px;
      }
    }

    &__button {
      margin-top: 20px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;

      &__submit {
        background-color: $primary-light;
        border: 1px solid $primary-light;
        color: $white;
        padding: 7px 30px;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
        transition: all ease-out 0.5s;
        &:hover {
          background-color: $primary;
          border-color: $primary;
        }
      }
    }
  }
}

@media screen and (min-width: 43em) {
  .header-login {
    margin-top: 40px;
  }
}
