@import "../../../assets/scss/colors", "../../../assets/scss/mixins/mixins.scss";

.section-login {
  @include flexbox();
  @include justify-content(center);
  margin: {
    top: 10px;
    left: 20px;
    right: 20px;
  }
  &__form {
    @include flexbox();
    @include flex-direction(column);
    @include border-radius(8);
    @include padding(20, 30);
    box-shadow: 0px 0px 9px #cccccc;
    background-color: $white;
    position: relative;
    &__link {
      text-align: left;
      font-size: 0.9em;
      display: inline-block;
    }
  }
}

input.ng-invalid.ng-touched {
  border: 1px solid rgb(226, 55, 55);
}
