
<section class="section-login" [@inOut]="'in'">
  <form class="section-login__form" [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <div class="input-container">
      <label class="input-container__label" for="username">Usuário</label>
      <input class="input-container__input" id="username" type="text" autofocus autocomplete="username"
        formControlName="username">
    </div>

    <div class="input-container input-container--password">
      <label class="input-container__label" for="password">Senha</label>
      <input class="input-container__input" id="password" [type]="!showPassword ? 'password' : 'text'"
        autocomplete="new-password" formControlName="password">
      <span *ngIf="loginForm.controls['password'].value !== ''" >
        <i class="far fa-eye icon-eye" *ngIf="!showPassword; else iconEye" (click)="togglePasswordVisibility()"></i>
        <ng-template #iconEye>
          <i class="far fa-eye-slash icon-eye" *ngIf="showPassword " (click)="togglePasswordVisibility()"></i>
        </ng-template>
      </span>
    </div>

    <span class="section-login__form__link">
      <a class="link" href="">Redefinir senha</a>
    </span>

    <div class="section-login__form__button">
      <button class="section-login__form__button__submit" type="submit" [disabled]="loginForm.invalid">Login</button>
    </div>

    <nav>
      <p class="section-login__form__signin">Não possui conta? <a class="link" [routerLink]="['/login', 'new']">Cadastre-se</a></p>
    </nav>
  </form>

</section>
